*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Overpass;
    font-size: 15px;
}

.content {
    height: 100vh;
    width: 100%;
    background-color: hsl(213, 19%, 18%);
    margin: auto;
    padding: 25px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
} 

/* Rating state start */

.rating {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.star-icon {
    background-color: hsl(216, 12%, 54%, 0.15);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}

h1 {
    color: white;
}

p, .numbers {
    color: hsl(217, 12%, 63%);
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.numbers > div {
    width: 50px;
    height: 50px;
    background-color: hsla(216, 12%, 54%, 0.2);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.numbers > div:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

button {
    height: 45px;
    width: 350px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.rates:checked {
    color: yellow;
}

/* Rating state end */

/* Thank you state start */

.thank-you {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    padding: 15px 5px; 
}

.rated {
    background-color: hsla(216, 12%, 54%, 0.2);
    height: 30px;
    width: 200px;
    border-radius: 15px;
    color: hsl(25, 97%, 53%);
    display: grid;
    place-items: center;
}

/* Thank you state end */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}